@media (max-width: 820px) {
    #sidebar {
        display: none;
    }
    #main {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto
    }   
    .moving{
        margin-left: auto;
        margin-right: auto;
        width:90%;
    }
}

body{
    background-color: #f1f1f1;
}
.container-fluid{
    position: relative;
}
#icons{
    margin: 10px;
}
input[type="text"]:focus{
    background-color: #DCDCDC;
}
#dog{
    margin: 1px;
}
.moving {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    background-color: #FAFAFA;
    border: 1px solid lightgrey;

}
figure .image {
    width: 100%;
}
#main_prof img{
    float: left;
    margin: 10px;
}
#main_prof figcaption{
    padding: 10px;
}
#main_line{
    clear: both;
}
.main_icon img{
    padding: 10px;
    margin: 10px;
}
#stories img{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#stories figcaption{
    padding: 10px;
    font-weight: bold;

}
.clear {
    clear: both;
}
#stories {
    height: 300px;
    overflow: auto;
}
#sidebar {
   /*position: fixed;*/
   top: 50;
   left: 1000;
}

.moving figcaption{
    font-weight: 600;
    color: black;
}
.moving figcaption p{
    display: inline;
    font-weight: 400;
}

button{
    display: block;
}

#first{
    border: 1px solid darkgrey;
}
