@media (max-width: 775px) {
    #sidebar {
        display: none;
    }
    #main {
        width: 100%;
    }
}
.container-fluid{
    position: relative;
}
#icons{
    margin: 10px;
}
input[type="text"]:focus{
    background-color: #DCDCDC;
}
#dog{
    margin: 1px;
}
figure .image {
    width: 100%;
}
#main_prof img{
    float: left;
    margin: 10px;
}
#main_prof figcaption{
    padding: 10px;
}
#main_line{
    clear: both;
}

#stories img{
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#stories figcaption{
    padding: 10px;
    font-weight: bold;

}
.clear {
    clear: both;
}
#stories {
    height: 300px;
    overflow: auto;
}
#sidebar {
   position: fixed;
   top: 50;
   left: 1000;
}

